<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles/test.css" th:href="@{/styles/test.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!--<form th:action="@{/login}" method="post" class="form login">-->

<!--    <div class = "form-floating mb-3">-->
<!--        <input id="login__username" type="text" name="username" placeholder="Username" class="form-control" required>-->
<!--        <label for="login__username"><span class="hidden">Username</span></label>-->
<!--    </div>-->

<!--    <div class = "form-floating mb-3">-->
<!--        <input id="login__password" type="password" name="password"  placeholder="Password" class="form-control" required>-->
<!--        <label for="login__password"><span class="hidden">Password</span></label>-->
<!--    </div>-->

<!--    <input type="submit" value="Sign In" class="btn btn-outline-primary">-->
<!--    <h4 class="text-center"><a href="#" th:href="@{'/signup'}">Create an account</a></h4>-->
<!--</form>-->


<img class="wave" src="../static/images/wave.png" th:src="@{/images/wave.png}">
<div class="container">
    <div class="img">
        <img src="../static/images/bg.svg" th:src="@{/images/bg.svg}">
    </div>
    <div class="login-content">
        <form th:action="@{/login}" method="post" class="form login">
            <img src="../static/images/avatar.svg" th:src="@{/images/avatar.svg}">
            <h2 class="title">Welcome</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Username</h5>
                    <input type="text" class="input" name="username">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Password</h5>
                    <input type="password" class="input" name="password" >
                </div>
            </div>
            <div style="display: flex;margin-top: 1rem;">
                <div>
<!--                    <a href="sign-up.html">Create account</a>-->
                </div>
                <div style="flex: 50%;">
                    <a href="#">Forgot Password?</a>

                </div>
            </div>
            <input type="submit" class="btn" value="Login">
        </form>
    </div>
</div>

</body>
</html>